a,a:hover{
    color: #000;
    text-decoration:none;
}
a:hover{
    color: #337ab7;
}
.navbar-default{
    background-color: #fff; 
}
body{
    background-color: #F2F4F6;
}
.navbar-brand img{
    width: 40px;
}
@media (min-width: 768px){
    .navbar-brand img{
        width: 60px;
    }
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
        padding: 25px 35px;
        font-size: 17px;
    }
    .navbar-header a{
        height: 70px;
        line-height: 40px;
    }
    .container {
        /*width: 940px;*/
    }
    .comments-area{
        width:700px;
    }
}

/* 顶部 固定导航栏的 预留部分 */
.post-main{
    margin-top: 110px;
}

@media (max-width: 768px){
    .hide-mobile{
        display: none;
    }
    .post-main {
        margin-top: 80px;
    }
}

/* 文章的预览 */
.post{
    width: 100%;
    height: auto;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 20px;
    margin-bottom: 16px;
    box-shadow: 0 0 1px rgba(0,0,0,.1);
    /* height:100px; */
}
.post .title{
    line-height: 26px;
    font-size: 18px;
    height: 26px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}
.post .iconfont{
    color: #666;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.post .iconfont:before {
    font-size: 18px;
    color: #888;
    margin-right: 3px;
}
.post .icons{
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 13px;
}
.post .icons span{
    margin-right: 12px;
    cursor: pointer;
}
.post .text-content{
    width: 100%;
    height: auto;
    white-space: normal;
    word-break: break-all;
    overflow-x: hidden;
    line-height: 22px;
    color: #666;
    font-size: 15px;
}
.btn-container{
    margin-top: 25px;
}
.comment-left{
    margin-left: 50px;
}
.comments-container{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 1px rgba(0,0,0,.1);
}
.comment-title{
    
}
.display-block{
    display: block;
}
.social-share .icon-wechat .wechat-qrcode{
    z-index: 10000;
}

.pointer{
    cursor: pointer;
}
.post:focus,.post:hover
{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
a:focus, a:hover{
    color: #000 !important;
}
